.display_area {
	margin: 25px;
	display: block;
}

#register {
	float: right;
	margin-right: 25px;
}

#userinfodiv {
	padding: 25px;
	width: 100%;
	margin: 0 auto;
	display: inline-block;
}

#userinfodiv input, label {
	float: left;
	margin-top: 35px;
}

#userinfodiv label {
	clear: left;
	display: block;
	width: 100px;
}

.bottom {
	display: block;
	width: 100%;
}