.display_area {
	margin: 25px;
	font-size: 35px;
	color: gray;
}

.display_table_area {
	margin: 25px;
}

#cart {
	float: right;
	margin-right: 25px;
}

#cart img {
	height: 15px;
	width: 15px;
}

#cart:hover {
	background: lightgray;
}

#orders_table {
	width: 450px;
	margin: 0 auto;
}

#inventory_table {
	margin: 0 auto;
}

#orders_table tr:hover {
	background: lightgray;
}

thead {
	background: lightblue;
	border-bottom: 1px solid black;
}

tfoot {
	background: lightblue;
	border-bottom: 1px solid black;
}

td {
	padding-top: 25px;
}

thead {
	background: lightblue;
	border-bottom: 1px solid black;
}

td:last-child {
	text-align: center;
	width: 200px;
}

td:first-child {
	text-align: center;
	width: 150px;
}

tr:nth-child(even) {
	background-color: #f2f2f2
}

col:nth-child(2) {
	width: 50px;
}

.info {
	font-size: 45px;
	color: gray;
}