<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link rel="stylesheet" type="text/css" href="css/foot.css" />
</head>
<body>
	<div id="foot">
		<div>
			<a href="http://cs.gsu.edu/~dmlab" target="_blank">Data Mining
				Lab</a>&nbsp;|&nbsp; <a
				href="http://cs.gsu.edu/contacts/map-directions/" target="_blank">Map/Directions</a>&nbsp;|&nbsp;
			<a href="http://campusdirectory.gsu.edu/index.cfm" target="_blank">Campus
				Directory</a>&nbsp;|&nbsp; <a href="http://www.gsu.edu/" target="_blank">GSU
				Home</a>&nbsp;|&nbsp; <a href="http://www.cs.gsu.edu/" target="_blank">CS
				@ GSU Home</a>&nbsp;|&nbsp; <a
				href="http://research.library.gsu.edu/computerscience"
				target="_blank">Library Research Guide</a>
		</div>


		<p style="text-align: center;">2016 Dustin Kempton, Georgia State
			University, Atlanta, GA 30303</p>
	</div>
</body>