<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link rel="stylesheet" type="text/css" href="css/head.css" />
</head>
<body>
	<div id="head">
		<div id="left_hdiv">
			<a href="http://cs.gsu.edu/" target="_blank"> <img id="left_himg"
				src="head_page_files/image2951.png"
				alt="head_page_files/image2951.png">
			</a>
		</div>
		<div id="right_hdiv">
			<a href="http://dmlab.cs.gsu.edu/" target="_blank"> <img
				id="right_himg" src="head_page_files/image2991.png"
				alt="head_page_files/image2991.png">
			</a>
		</div>
	</div>
</body>